<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head('Cloud File Storage – Homepage')}"></head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-4">
    <form class="d-flex mb-4" th:action="@{/storage/search}" method="get">
        <input class="form-control me-2" type="text" name="query" placeholder="Search in Storage" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 h-100">
                <div class="card-body">
                    <form th:action="@{/storage/upload}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="path" th:value="${#strings.isEmpty(param.path) ? '/' : param.path}" />
                        <div class="mb-3">
                            <input class="form-control" type="file" id="file" name="files" multiple required />
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Upload Files</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 h-100">
                <div class="card-body">
                    <form th:action="@{/storage/upload}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="path" th:value="${#strings.isEmpty(param.path) ? '/' : param.path}" />
                        <div class="mb-3">
                            <input class="form-control" type="file" id="folder" name="files" webkitdirectory multiple required />
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Upload Folder</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 h-100">
                <div class="card-body">
                    <form id="newFolderForm" method="post" action="/storage/folders">
                        <input type="hidden" name="path" th:value="${#strings.isEmpty(param.path) ? '/' : param.path}" />
                        <div class="mb-3">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Folder name" required />
                        </div>
                        <button type="submit" class="btn btn-success w-100">Create Folder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h3>Files</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li th:each="breadcrumb, iterStat : ${breadcrumbs}" class="breadcrumb-item"th:classappend="${iterStat.last} ? 'active' : ''" aria-current="page">
                <a th:if="${!iterStat.last}" th:href="@{'/' (path=${breadcrumb.path()})}" th:text="${breadcrumb.name()}"></a>
                <span th:if="${iterStat.last}" th:text="${breadcrumb.name()}"></span>
            </li>
        </ol>
    </nav>

    <div th:if="${objects != null and !#lists.isEmpty(objects)}">
        <div class="list-group">
            <div th:each="object : ${objects}" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <!-- Folder Icon -->
                    <i th:if="${object.isFolder}" class="bi bi-folder-fill text-warning me-2"></i>
                    <!-- File Icon -->
                    <i th:if="${!object.isFolder}" class="bi bi-file-earmark-fill text-secondary me-2"></i>
                    <!-- Name -->
                    <a th:if="${object.isFolder}"
                       th:href="@{'/' (path=${object.getPath()})}"
                       class="preserve-whitespace" th:text="${object.getName()}"></a>
                    <span th:if="${!object.isFolder}" class="preserve-whitespace" th:text="${object.getName()}"></span>
                </div>
                <div>
                    <!-- Download Button -->
                    <a th:if="${object.isFolder}"
                       th:href="@{/storage/download-multiple (path=${object.getPath()})}" class="btn btn-sm btn-outline-primary me-2">Download</a>
                    <a th:if="${!object.isFolder}"
                       th:href="@{/storage/download (path=${object.getPath()})}" class="btn btn-sm btn-outline-primary me-2">Download</a>
                    <!-- Rename Button -->
                    <button type="button" class="btn btn-sm btn-outline-secondary me-2"
                            th:data-path="${object.getPath()}"
                            th:data-name="${object.getName()}"
                            onclick="openRenameModal(this)">Rename</button>
                    <!-- Delete Button -->
                    <form th:action="@{/storage (path=${object.getPath()})}" method="post" class="d-inline">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${objects == null or #lists.isEmpty(objects)}" class="alert alert-info">
        <p>No files or folders found in this directory.</p>
    </div>
</div>

<div class="modal" tabindex="-1" id="renameModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rename</h5>
                <button type="button" class="btn-close" onclick="closeRenameModal()"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="newNameInput" class="form-control" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="submitRenameForm()">OK</button>
                <button type="button" class="btn btn-secondary" onclick="closeRenameModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    let currentPath = '';

    function openRenameModal(button) {
        currentPath = button.getAttribute('data-path');
        const currentName = button.getAttribute('data-name');
        const newNameInput = document.getElementById('newNameInput');
        newNameInput.value = currentName;
        $('#renameModal').modal('show');
    }

    function closeRenameModal() {
        $('#renameModal').modal('hide');
        currentPath = '';
    }

    function submitRenameForm() {
        const newName = document.getElementById('newNameInput').value;
        if (newName) {
            const form = document.createElement('form');
            form.method = 'post';
            form.action = `/storage`;

            const methodInput = document.createElement('input');
            methodInput.type = 'hidden';
            methodInput.name = '_method';
            methodInput.value = 'patch';
            form.appendChild(methodInput);

            const pathInput = document.createElement('input');
            pathInput.type = 'hidden';
            pathInput.name = 'path';
            pathInput.value = `${currentPath}`;
            form.appendChild(pathInput);

            const newNameInput = document.createElement('input');
            newNameInput.type = 'hidden';
            newNameInput.name = 'name';
            newNameInput.value = newName;
            form.appendChild(newNameInput);

            document.body.appendChild(form);
            form.submit();
        } else {
            alert('Please enter a new name.');
        }
    }
</script>

<script th:if="${message != null}">
    const message = '[[${message}]]';
    if (message.trim() !== '') {
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-right",
            "timeOut": "5000",
            "extendedTimeOut": "1000"
        };
        toastr.info(message);
    }
</script>

</body>
</html>