<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head('Cloud File Storage – Homepage')}"></head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<form class="d-flex my-4" th:action="@{/storage/search}" method="get">
    <input class="form-control me-2" type="text" name="query" placeholder="Search in Storage" required>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<h2>File upload</h2>
<form th:action="@{/storage}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="path" th:value="${param.path}" />
    <div>
        <input type="file" id="file" name="files" multiple required />
        <button type="submit">Upload File</button>
    </div>
</form>

<br>

<h2>Folder upload</h2>
<form th:action="@{/storage}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="path" th:value="${param.path}" />
    <div>
        <input type="file" id="folder" name="files" webkitdirectory multiple required />
        <button type="submit">Upload Folder</button>
    </div>
</form>

<br>

<h2>New folder</h2>
<form id="newFolderForm" method="post">
    <input type="hidden" name="path" th:value="${param.path}" />
    <div>
        <input type="text" id="folderName" name="folderName" placeholder="Folder name" required />
        <button type="button" onclick="submitForm()">Create Folder</button>
    </div>
</form>

<script>
    function submitForm() {
        const folderName = document.getElementById('folderName').value;
        if (folderName) {
            const form = document.getElementById('newFolderForm');
            form.action = `/storage/${encodeURIComponent(folderName)}`;
            form.submit();
        } else {
            alert("Please enter a folder name.");
        }
    }
</script>

<br>

<h2>Files:</h2>
<div>
    <span th:each="breadcrumb, iterStat : ${breadcrumbs}">
        <span th:if="${!iterStat.first}"> / </span>
        <a th:if="${iterStat.first}" th:href="@{/}" th:text="${breadcrumb.name()}"></a>
        <a th:if="${!iterStat.first}" th:href="@{'/?path=' + ${breadcrumb.path()}}" th:text="${breadcrumb.name()}"></a>
    </span>
</div>

<div th:if="${items != null and !#lists.isEmpty(items)}">
    <div th:each="item : ${items}">
        <span th:if="${!#strings.endsWith(item.getPath(), '/')}">
            <span th:text="${item.getName()}"></span>
            <a th:href="@{'/storage/download' + ${item.getPath()}}" class="btn btn-link">Download</a>
        </span>

        <span th:if="${#strings.endsWith(item.getPath(), '/')}">
            <a th:if="${!item.getName().isBlank()}"
               th:href="@{'/?path=' + ${item.getPath()}}"
               th:text="${item.getName().substring(0, item.getName().length() - 1)}"></a>
        </span>
    </div>
</div>

</body>
</html>