<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head('Cloud File Storage – Homepage')}"></head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<h2>File upload</h2>
<form th:action="@{/disk}" method="post" enctype="multipart/form-data">
    <div>
        <input type="file" id="file" name="files" multiple required />
        <button type="submit">Upload File</button>
    </div>
</form>

<br>

<h2>Folder upload</h2>
<form th:action="@{/disk}" method="post" enctype="multipart/form-data">
    <div>
        <input type="file" id="folder" name="files" webkitdirectory multiple required />
        <button type="submit">Upload Folder</button>
    </div>
</form>

<br>

<h2>New folder</h2>
<form id="newFolderForm" method="post">
    <div>
        <input type="text" id="folderName" name="folderName" placeholder="Folder name" required />
        <button type="button" onclick="submitForm()">Create Folder</button>
    </div>
</form>

<script>
    function submitForm() {
        const folderName = document.getElementById('folderName').value;
        if (folderName) {
            const form = document.getElementById('newFolderForm');
            form.action = `/disk/${encodeURIComponent(folderName)}`;
            form.submit();
        } else {
            alert("Please enter a folder name.");
        }
    }
</script>

</body>
</html>