<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head('Cloud File Storage – Search')}"></head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-4">
    <form class="d-flex mb-4" th:action="@{/storage/search}" method="get">
        <input class="form-control me-2" type="text" name="query" placeholder="Search in Storage" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <h3>Search Results</h3>
    <div th:if="${objects != null and !#lists.isEmpty(objects)}">
        <div class="list-group">
            <div th:each="object : ${objects}" class="list-group-item">
                <!-- Folder Icon -->
                <i th:if="${object.isFolder}" class="bi bi-folder-fill text-warning me-2"></i>
                <!-- File Icon -->
                <i th:if="${!object.isFolder}" class="bi bi-file-earmark-fill text-secondary me-2"></i>
                <!-- Name -->
                <a th:href="@{'/' (path=${object.getPath()})}" th:text="${object.getName()}"></a>
            </div>
        </div>
    </div>

    <div th:if="${objects == null or #lists.isEmpty(objects)}" class="alert alert-info">
        <p>No matching results found.</p>
    </div>
</div>

</body>
</html>