<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head('Cloud File Storage – Search')}"></head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-4">
    <form class="d-flex my-4" th:action="@{/storage/search}" method="get">
        <input class="form-control me-2" type="text" name="query" placeholder="Search in Storage" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <h2>Search results</h2>
    <div th:if="${objects != null and !#lists.isEmpty(objects)}">
        <div th:each="object : ${objects}">
            <span th:if="${!#strings.endsWith(object.getName(), '/')}">
                <a th:href="@{'/?path=' + ${object.getPath()}}" th:text="${object.getName()}"></a>
            </span>
            <span th:if="${#strings.endsWith(object.getName(), '/')}">
                <a th:if="${!object.getName().isBlank()}" th:href="@{'/?path=' + ${object.getPath()}}" th:text="${object.getName().substring(0, object.getName().length() - 1)}"></a>
            </span>
        </div>
    </div>

    <div th:if="${objects == null or #lists.isEmpty(objects)}">
        <p>No matching results</p>
    </div>
</div>

</body>
</html>