<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head('Cloud File Storage – Search')}"></head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-4">
    <form class="d-flex my-4" th:action="@{/disk/search}" method="get">
        <input class="form-control me-2" type="text" name="name" placeholder="Search in Storage" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <h2>Search results</h2>
    <div th:if="${items != null and !#lists.isEmpty(items)}">
        <div th:each="item : ${items}">
            <span th:if="${!#strings.endsWith(item.getPath(), '/')}">
                <a th:href="@{'/?path=' + ${item.getPath()}}" th:text="${item.getName()}"></a>
            </span>
            <span th:if="${#strings.endsWith(item.getPath(), '/')}">
                <a th:if="${!item.getName().isBlank()}" th:href="@{'/?path=' + ${item.getPath()}}" th:text="${item.getName().substring(0, item.getName().length() - 1)}"></a>
            </span>
        </div>
    </div>

    <div th:if="${items == null or #lists.isEmpty(items)}">
        <p>No matching results</p>
    </div>
</div>

</body>
</html>